body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

main {
    flex: 1 0 auto;
  }

nav .brand-logo {
    font-family: 'Caveat', sans-serif;
    font-size: 4.1rem;
    padding-left: 5px;
}

nav ul a {
    font-size: 1.5rem;
}

.logo {
    font-family: 'Caveat', sans-serif;
}

.banner {
    padding: 0px;
    text-align: center;
}

.card-panel {
    height: 90px;
}

.page-footer {
    margin-top: auto;
}

.modal {
    width: 60%;
    height: auto;
}

.datepicker-modal {
    max-width: 325px;
    min-width: 70%;
    max-height: none;
}

@media screen and (max-width: 992px) {
    .modal {
        width: 95%;
        height: auto;
    }
}
