{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <h3 class="center-align">My Account</h3>
        {% if session.user %}
            <p class="right-align">You are logged in as: {{session['user']}}</p>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 center-align">
                
                    <p>
                        Name:  <br>
                        Email: <br>
                        Username: {{session['user']}} <br>
                        Password: (hidden)
                    </p>
                    <p>
                        <br>
                        <a href="" class="btn">Change Password <i class="fa-solid fa-pen-to-square"></i></a>
                    </p>
              
            </div>
        </div>
    </div>
</div>

{% endblock %}