{% extends 'base.html' %}

{% block content %}

{% if session.user %}
  <p class="right-align">You are logged in as: {{session['user']}}</p>
{% endif %}

<div class="card">
  <div class="card-content">
    <h3 class="center-align">Home Adaptations</h3>
  </div>
</div>

<ul class="collapsible ">
  <li>
    <div class="collapsible-header">Search Customer</div>
      <div class="collapsible-body">
        <div class="col s12">
          <form action="{{ url_for('search_customer') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
              <div class="input-field col s12 m8">
                  <i class="fas fa-search prefix black-text"></i>
                  <input type="text" name="query" id="query" minlength="3" class="validate" required>
                  <label for="query">Enter: Name, Address (first line) or Postcode</label>
              </div>
              <div class="col s12 m4">
                  <a href="{{ url_for('account') }}" class="btn text-shadow">Reset</a>
                  <button type="submit" class="btn text-shadow">
                      <i class="fas fa-search left"></i> Search
                  </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </li>
  <!-- <li>
    <div class="collapsible-header">Search Jobs</div>
      <div class="collapsible-body">
        <div class="col s12">
          <form action="{{ url_for('search_jobs', customer_id=customer_id) }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
              <div class="input-field col s12 m8">
                  <i class="fas fa-search prefix black-text"></i>
                  <input type="text" name="query" id="query" minlength="3" class="validate" required>
                  <label for="query">Enter: Name, Address (first line) or Postcode</label>
              </div>
              <div class="col s12 m4">
                  <a href="{{ url_for('account') }}" class="btn text-shadow">Reset</a>
                  <button type="submit" class="btn text-shadow">
                      <i class="fas fa-search left"></i> Search
                  </button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </li> -->
  <li>
    <div class="collapsible-header">Create</div>
    <div class="collapsible-body">
      <div class="collection">
        <a href="#add_customer" class="collection-item modal-trigger">New Customer Record</a>
        <!-- <a href="#!" class="collection-item">Job</a> -->
      </div>
    </div>
  </li>
</ul>

<ul class="collapsible ">
  <li class="active">
    <div class="collapsible-header">Results</div>
    <!-- Customer results -->
    {% if customers|length >0 %}
      <div class="collapsible-body">
        {% for customer in customers %}
          <ul class="collection">

            <li class="collection-item">
              <div class="col s12 l6 left-align">
                  Name:   {{ customer.first_name }} {{ customer.last_name }} <br>
                  <!-- DOB: {{ customer.dob }} <br> -->
                  <!-- Gender: {{ customer.gender }}<br> -->
                  Address: {{ customer.address_street }}, {{ customer.address_city }}, {{ customer.address_county }}, 
                          {{ customer.postcode }} <br> 
                          <!-- Property Tenure: {{ customer.tenure }} <br> -->
                  <!-- Phone: {{ customer.phone }} <br> Email: {{ customer.email }} <br>  -->
                  <br>
                  <!-- Record created by user: {{ customer.created_by }} <br> -->
                  <!-- Record last amended by user: {{ customer.amended_by }} -->
              </div>
              <div class="col s12 l6 left-align">
                <form action="{{ url_for('search_jobs') }}" method="POST" class="col s12">
                  <a href="{{ url_for('view_customer', customer_id=customer._id) }}" class="waves-effect waves-green btn">View Customer Details</a>
                  <button type="submit" class="waves-effect waves-green btn">View Minor Works Orders</button>
                    <input type="text" name="query" id="query" value="{{ customer.first_name }} {{ customer.last_name }} 
                                                    {{ customer.address_street }} {{ customer.postcode }}" class="validate" hidden required>
                    <label for="query"></label>
                  <a href="{{ url_for('add_job', customer_id=customer._id) }}" class="waves-effect waves-green btn">Create Minor Works Order</a>
                </form>
              </div>
            </li>
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <!-- Jobs results -->
    {% if jobs|length >0 %}
      <div class="collapsible-body">
        <div class="col s12 l6 left-align">
          <button onclick="history.back()" class="waves-effect waves-green">Back</button>
        </div>
        {% for job in jobs %}
          <ul class="collection">
            <li class="collection-item">
              <div class="col s12 left-align">
                  Name: {{ job.first_name }} <br>
                  Adaptation: {{ job.adaptation }}
                  <br>
                  Due Date: {{ job.due_date }}
                  {% if job.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle red-text tooltipped"
                    data-position="right" data-tooltip="URGENT!"></i>
                  {% endif %}
              </div>
              <div class="col s12 left-align">
                <a href="{{ url_for('view_jobs', job_id=job._id) }}" class="waves-effect waves-green btn green accent-4">View Order</a>
              </div>
              <!-- <div class="col s12 l6 center-align white"> -->
                <!-- <p>No Results Found!</p> -->
                <!-- <button onclick="history.back()" class="waves-effect waves-green btn red accent-4">Back</button> -->
              <!-- </div> -->
            </li>
          </ul>
        {% endfor %}
      </div>
    {% endif %}
  </li>
</ul>


<!-- Create customer modal -->
<div id="add_customer" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Create New Customer</h4>
  </div>
  <form method="POST" action="{{ url_for('add_customer') }}">
    <div class="row">
      <!-- Name -->
      <div class="input-field col s12 l6">
          <input id="first_name" name="first_name" type="text" class="validate center-align" required>
          <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s12 l6">
        <input id="last_name" name="last_name" type="text" class="validate center-align" required>
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <!-- DOB -->
      <div class="input-field col s12 l6">
          <input id="dob" name="dob" type="text" class="datepicker validate center-align" required>
          <label for="dob">Date of Birth</label>
      </div>
      <!-- Gender -->
      <div class="input-field col s12 l6">
        <select id="gender" name="gender" class="validate" required>
          <option value="" disabled selected>Select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
          <option value="Prefer not to say">Prefer not to say</option>
        </select>
        <label for="gender">Gender</label>
      </div>
    </div>
    <div class="row">
      <!-- Address -->
      <div class="input-field col s12 l6">
          <input placeholder="House no. and Street" id="address_street" name="address_street" type="text" class="validate center-align" required>
          <label for="address_street">Address</label>
          <input placeholder="Town/City" id="address_city" name="address_city" type="text" class="validate center-align" required>
          <label for="address_city"></label>
          <input placeholder="County" id="address_county" name="address_county" type="text" class="validate center-align" required>
          <label for="address_county"></label>
          <input placeholder="Postcode" id="postcode" name="postcode" type="text" class="validate center-align" required>
        <label for="postcode"></label>
      </div>
      <div class="input-field col s12 l6">
        <select id="tenure" name="tenure" class="validate" required>
          <option value="" disabled selected>Select</option>
          <option value="Owner Occupied">Owner Occupied</option>
          <option value="Private Rent/Housing Association">Private Rent/Housing Association</option>
          <option value="Council">Council</option>
        </select>
        <label for="tenure">Property Tenure</label>
      </div>
      <!-- Phone -->
      <div class="input-field col s12 l6">
        <input id="phone" name="phone" type="text" class="validate center-align" required>
          <label for="phone">Phone</label>
      </div>
      <!-- Email -->
      <div class="input-field col s12 l6">
        <input id="email" name="email" type="text" class="validate center-align" required>
          <label for="email">Email</label>
      </div>
    </div>
    <!-- Submit -->
    <div class="row">
      <div class="col s12 center-align">
        <a href="#!" class="modal-close waves-effect waves-green btn red accent-4">Cancel</a>
        <button type="submit" class="waves-effect waves-green btn green accent-4">Submit</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}