{% extends 'base.html' %}

{% block content %}

<!-- <p class="right-align">You are logged in as: {{ username }}</p> -->
<h3 class="center-align">Home Adaptations</h3>

<ul class="collapsible popout">
  <li>
    <div class="collapsible-header">Search Customer</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header">Search Jobs</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header">Create</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
</ul>

{% endblock %}