<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lobster&family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Enabled</title>
</head>

<body>

    <header>
        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue darken-1">
                {% if session.user %}
                    <a href="{{ url_for('login') }}" class="brand-logo text-shadow">Enabled</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="brand-logo center text-shadow">Enabled</a>
                {% endif %}
                <a href="#" data-target="slide-out" class="sidenav-trigger left"><i class="fas fa-bars"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if session.user %}
                        <li><a href="{{ url_for('adapt') }}" class="text-shadow">Adaptations</a></li>
                        <li><a class="dropdown-trigger text-shadow" href="#!" data-target="dropdown_nav">Options <i class="fa-solid fa-caret-down"></i></a></li>
                    {% endif %}
                </ul>
                </div>
            </nav>
        </div>

        <!-- Sidenav -->
        {% if session.user %}
            <ul id="slide-out" class="sidenav blue lighten-2">
                <li><a href="{{ url_for('adapt') }}" class="white-text text-shadow">Adaptations</a></li>
                <li><a class="dropdown-trigger white-text text-shadow" href="#!" data-target="dropdown_side">Options <i class="fa-solid fa-caret-down"></i></a></li>
            </ul>
        {% endif %}

        <!-- Options Dropdown Structure -->
        <ul id="dropdown_nav" class="dropdown-content blue lighten-2">
            {% if session.user|lower == 'admin'|lower %}
                <li><a href="{{ url_for('get_users') }}" class="white-text text-shadow">Manage Users</a></li>
                <li class="divider black"></li>
            {% endif %}
                <li><a href="{{ url_for('account') }}" class=" white-text text-shadow">My Account</a></li>
                <li class="divider black"></li>
                <li><a href="{{ url_for('logout') }}" class="white-text text-shadow">Log Out</a></li>
        </ul>
        <ul id="dropdown_side" class="dropdown-content blue lighten-2">
            {% if session.user|lower == 'admin'|lower %}
                <li><a href="{{ url_for('get_users') }}" class="white-text text-shadow">Manage Users</a></li>
                <li class="divider black"></li>
            {% endif %}
                <li><a href="{{ url_for('account') }}" class="white-text text-shadow">My Account</a></li>
                <li class="divider black"></li>
                <li><a href="{{ url_for('logout') }}" class="white-text text-shadow">Log Out</a></li>
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="blue lighten-5 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer blue darken-1">
        <div class="footer-copyright">
            <div class="container center-align text-shadow">
            ©<span id="copyright"></span> danbob81 <br>
            <a class="grey-text text-lighten-4 center-align" href="https://github.com/Danbob81" target="_blank"><i class="fab fa-github"></i></a>
            <a class="grey-text text-lighten-4 center-align" href="https://www.linkedin.com/in/daniel-higginson/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/abe5db6b8e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>