<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lobster&family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Enabled</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <div class="nav-bar fixed">
            <nav>
                <div class="nav-wrapper green lighten-1">
                <a href="{{ url_for('home') }}" class="brand-logo">Enabled</a>
                <a href="#" data-target="slide-out" class="sidenav-trigger left"><i class="fas fa-bars"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    {% if session.user %}
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Options</a></li>
                    {% else %}
                        <li><a href="{{ url_for('home') }}">Log In</a></li>
                    {% endif %}
                </ul>
                </div>
            </nav>
        </div>

        <!-- Sidenav -->
        <ul id="slide-out" class="sidenav light-green lighten-4">
            <!-- <li><h4 class="center-align">Enabled</h4></li> -->
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Options</a></li>
        </ul>

        <!-- Options Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ url_for('users') }}">Manage Users</a></li>
            <li class="divider"></li>
            <li><a href="#!">Change Password</a></li>
            <!-- <li><a href="#!">two</a></li> -->
            <li class="divider"></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="{{ url_for('users') }}">Manage Users</a></li>
            <li class="divider"></li>
            <li><a href="#!">Change Password</a></li>
            <!-- <li><a href="#!">two</a></li> -->
            <li class="divider"></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
        
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="teal lighten-3 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer green darken-1">
        <div class="footer-copyright">
            <div class="container center-align">
            ©<span id="copyright"></span> danbob81 <br>
            <a class="grey-text text-lighten-4 center-align" href="https://github.com/Danbob81" target="_blank"><i class="fab fa-github"></i></a>
            </div>
          </div>
    </footer>

</body>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


    
</html>