{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <h3 class="center-align">Change Password</h3>
        {% if session.user %}
            <p class="right-align">You are logged in as: {{session['user']}}</p>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12">
                <form method="POST" action="{{ url_for('change_password', staff_id=staff._id) }}">
                    <div class="row">
                        <!-- username -->
                        <div class="input-field col s12 l6 offset-l3">
                            <input id="username" name="username" type="text" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" value="{{session['user']}}" class="validate" hidden required>
                            <label for="username"></label>
                        </div>
                        <!-- initial password -->
                        <div class="input-field col s12 l6 offset-l3">
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password"><i class="fa-solid fa-lock"></i> Current Password</label>
                        </div>
                        <!-- new password -->
                        <div class="input-field col s12 l6 offset-l3">
                            <input id="new_password" name="new_password" type="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="new_password"><i class="fa-solid fa-lock"></i> New Password</label>
                        </div>
                        <!-- Submit -->
                        <div class="col s12 center-align">
                            <button type="submit" class="btn center-align">Change Password <i class="fa-solid fa-circle-check"></i></button>
                        </div>
                        <div class="col s12 center-align">
                            <br>
                            <button onclick="history.back()" class="btn center-align">Cancel <i class="fa-solid fa-arrow-left"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}