{% extends 'base.html' %}

{% block content %}

<h3 class="center-align">Change Password</h3>

<form method="POST" action="">
    <div class="row">
        <!-- current password -->
        <div class="input-field col s12 l6 offset-l3">
            <input id="password" name="password" type="password" minlength="5"
                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            <label for="password">Enter Current Password</label>
        </div>
        <!-- new password -->
        <div class="input-field col s12 l6 offset-l3">
            <input id="new_password1" name="new_password1" type="password" minlength="5"
                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            <label for="new_password1">Enter New Password</label>
        </div>
        <div class="input-field col s12 l6 offset-l3">
            <input id="new_password2" name="new_password2" type="password" minlength="5"
                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            <label for="new_password2">Confirm New Password</label>
        </div>
        <button type="submit" class="waves-effect waves-green btn-flat col s12 l6 offset-l3 center-align">Change Password</button>
    </div>
  </form>

{% endblock %}