{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-content">
      <h3 class="center-align">Manage Users</h3>
      {% if session.user %}
        <p class="right-align">You are logged in as: {{session['user']}}</p>
      {% endif %}
  </div>
</div>

<ul class="collapsible">
  <li class="active">
    <div class="collapsible-header">Search Users</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col s12">
          <form action="{{ url_for('search_user') }}" method="POST" class="col s12">
              <div class="input-field col s12 m8">
                  <i class="fa-solid fa-user"></i>
                  <input type="text" name="query" id="query" minlength="3" class="validate" required>
                  <label for="query"></label>
                  <small>Enter: Employee name</small>
              </div>
              <div class="col s12 m4 center-align">
                  <button type="submit" class="btn">
                      <i class="fas fa-search left"></i> Search
                  </button>
              </div>
              <div class="col s12 m4 center-align">
                <br>
                <a href="{{ url_for('get_users') }}" class="">Reset</a>
              </div>
          </form>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header">Create New User</div>
    <div class="collapsible-body">
      <form method="POST" action="{{ url_for('users') }}">
          <div class="row">
              <!-- username -->
              <div class="input-field col s12 l6 offset-l3">
                  <input id="username" name="username" type="text" minlength="5"
                      maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                  <label for="username"><i class="fa-solid fa-user"></i> Username</label>
              </div>
              <!-- password -->
              <div class="input-field col s12 l6 offset-l3">
                  <input id="password" name="password" type="password" minlength="5"
                      maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                  <label for="password"><i class="fa-solid fa-lock"></i> Password</label>
              </div>
              <!-- name -->
              <div class="input-field col s12 l6 offset-l3">
                  <input id="employee_name" name="employee_name" type="text" class="validate" required>
                  <label for="employee_name"><i class="fa-solid fa-user"></i> Employee Name</label>
              </div>
              <!-- email -->
              <div class="input-field col s12 l6 offset-l3">
                  <input id="employee_email" name="employee_email" type="email" class="validate" required>
                  <label for="employee_email"><i class="fa-solid fa-at"></i> Employee Email</label>
              </div>
              <div class="col s12 center-align">
                <button type="submit" class="btn center-align">Create User <i class="fa-solid fa-circle-check"></i></button>
              </div>
              <div class="col s12 center-align">
                <br>
                <a href="{{ url_for('get_users') }}" class="col s12 l6 offset-l3 center-align">Cancel</a>
              </div>
          </div>
        </form>
    </div>
  </li>
</ul>

<ul class="collapsible">
    <li class="active">
        <div class="collapsible-header">Results</div>
        <div class="collapsible-body">
          <ul class="collection">
            {% for employee in employees %}
              <li class="collection-item">
                <div>Name: {{ employee.employee_name }} 
                  <br> Email: {{ employee.employee_email }}
                  <br> Username: {{ employee.username }} 
                  <br> Password: (hidden)
                </div>
                <div class="col s12 l6 left-align">
                  <a href="{{ url_for('edit_user', employee_id=employee._id) }}" 
                            class="btn">Edit User <i class="fa-solid fa-pen-to-square"></i></a>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
    </li>
</ul>


{% endblock %}