{% extends 'base.html' %}

{% block content %}

<h3 class="center-align">Manage Users</h3>

<ul class="collapsible popout">
    <li>
      <div class="collapsible-header">Create New User</div>
      <div class="collapsible-body">
        <form method="POST" action="{{ url_for('users') }}">
            <div class="row">
                <!-- username -->
                <div class="input-field col s12 l6 offset-l3">
                    <input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
                <!-- password -->
                <div class="input-field col s12 l6 offset-l3">
                    <input id="password" name="password" type="password" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
                <!-- name -->
                <div class="input-field col s12 l6 offset-l3">
                    <input id="employee_name" name="employee_name" type="text" class="validate" required>
                    <label for="employee_name">Employee Name</label>
                </div>
                <!-- email -->
                <div class="input-field col s12 l6 offset-l3">
                    <input id="employee_email" name="employee_email" type="email" class="validate" required>
                    <label for="employee_email">Employee Email</label>
                </div>
                <button type="submit" class="waves-effect waves-green btn-flat col s12 l6 offset-l3 center-align">Create User</button>
            </div>
          </form>
      </div>
    </li>
    <li>

      <div class="collapsible-header">Search Users</div>
      <div class="collapsible-body">
          <ul class="collection">
            {% for user in users %}
              <li class="collection-item"><div>Name: {{ user.employee_name }} <br> Email: {{ user.employee_email }} 
                <br> Username: {{ user.username }}  <a href="" class="secondary-content">Edit User</a></div></li>
            {% endfor %}
          </ul>
      </div>

    </li>
  </ul>



{% endblock %}