{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-content">
      <h3 class="center-align">Home Adaptations</h3>
      {% if session.user %}
        <p class="right-align">You are logged in as: {{session['user']}}</p>
      {% endif %}
  </div>
</div>

<div class="row">
  <div class="col s12 center-align">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Confirm Deletion</span>
        <p class="center-align">Warning: Deletion of orders can not be reversed. <br>Do you wish to continue?</p>
      </div>
      <div class="card-action">
        <a onclick="history.back()" class="modal-close waves-effect waves-green black-text">No, Cancel Deletion</a>
        <a href="{{ url_for('delete_job', job_id=job._id) }}" class="waves-effect waves-green btn red">Delete Order</a>

        <!-- <a href="" class="waves-effect waves-green black-text">Yes, Delete Order</a> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}