{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <h3 class="center-align">Manage Users</h3>
        {% if session.user %}
            <p class="right-align">You are logged in as: {{session['user']}}</p>
        {% endif %}
    </div>
</div>

<form method="POST" action="{{ url_for('edit_user', employee_id=employee._id) }}">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <ul class="collection with-header">
                        <li class="collection-header center-align"><h4>Edit User</h4></li>
                        <li class="collection-item">
                            <div class="row">
                                <!-- username -->
                                <div class="input-field col s12 l6 offset-l3">
                                    <input id="username" name="username" type="text" minlength="5"
                                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" value="{{ employee.username }}" class="validate">
                                    <label for="username"><i class="fa-solid fa-user"></i> Username</label>
                                </div>
                                <!-- name -->
                                <div class="input-field col s12 l6 offset-l3">
                                    <input id="employee_name" name="employee_name" type="text" value="{{ employee.employee_name }}" class="validate">
                                    <label for="employee_name"><i class="fa-solid fa-user"></i> Employee Name</label>
                                </div>
                                <!-- email -->
                                <div class="input-field col s12 l6 offset-l3">
                                    <input id="employee_email" name="employee_email" type="email" value="{{ employee.employee_email }}" class="validate">
                                    <label for="employee_email"><i class="fa-solid fa-at"></i> Employee Email</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Submit -->
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn center-align">Confirm Edit <i class="fa-solid fa-circle-check"></i></button>
                    {% if employee.employee_name|lower == 'admin'|lower %}
                    {% else %}
                    <a href="#delete-user" class="btn modal-trigger">Delete User <i class="fa-solid fa-user-xmark"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_users') }}" class="btn">Cancel Changes <i class="fa-solid fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Delete User Modal-->
<div id="delete-user" class="modal">
    <div class="modal-content center-align">
        <h4 class=""><i class="fa-solid fa-triangle-exclamation red-text"></i><br>Delete User?</h4>
        <p>Warning: Deletion of users can not be reversed.<br>Are you sure you wish to continue?</p>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('delete_user', employee_id=employee._id) }}" class="btn center-align">Delete <i class="fa-solid fa-circle-xmark"></i></a>
        </div>
        <div class="col s12 center-align">
            <br>
            <a href="#!" class="modal-close">Cancel</a>
        </div>
    </div>
</div>

{% endblock %}