{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <h3 class="center-align">Home Adaptations</h3>
        {% if session.user %}
          <p class="right-align">You are logged in as: {{session['user']}}</p>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12">
                <form method="POST" action="{{ url_for('edit_customer', customer_id=customer._id) }}">
                    <ul class="collection with-header">
                        <li class="collection-header center-align"><h4>Edit Customer</h4></li>
                        <li class="collection-item">
                            <div class="row">
                                <!-- Name -->
                                <div class="input-field col s12 l6">
                                    <input id="first_name" name="first_name" type="text" value="{{ customer.first_name }}" class="validate center-align" required>
                                    <label for="first_name"><i class="fa-solid fa-user"></i> First Name</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <input id="last_name" name="last_name" type="text" value="{{ customer.last_name }}" class="validate center-align" required>
                                    <label for="last_name"><i class="fa-solid fa-user"></i> Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <!-- DOB -->
                                <div class="input-field col s12 l6">
                                    <input id="dob" name="dob" type="text" value="{{ customer.dob }}" class="datepicker validate center-align" required>
                                    <label for="dob"><i class="fa-solid fa-calendar-days"></i> Date of Birth</label>
                                </div>
                                <!-- Gender -->
                                <div class="input-field col s12 l6">
                                    <select id="gender" name="gender" class="validate" required>
                                    {% if customer.gender == 'Male'%}
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                        <option value="Prefer not to say">Prefer not to say</option>
                                    {% elif customer.gender == 'Female' %}
                                        <option value="Male">Male</option>
                                        <option value="Female" selected>Female</option>
                                        <option value="Other">Other</option>
                                        <option value="Prefer not to say">Prefer not to say</option>
                                    {% elif customer.gender == 'Other' %}
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other" selected>Other</option>
                                        <option value="Prefer not to say">Prefer not to say</option>
                                    {% elif customer.gender == 'Prefer not to say' %}
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                        <option value="Prefer not to say" selected>Prefer not to say</option>
                                    {% endif %}
                                    </select>
                                    <label for="gender"><i class="fa-solid fa-person"></i><i class="fa-solid fa-person-dress"></i> Gender</label>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Address -->
                                <div class="input-field col s12 l6">
                                    <input placeholder="House no. and Street" id="address_street" name="address_street" type="text" value="{{ customer.address_street }}" class="validate center-align" required>
                                    <label for="address_street"><i class="fa-solid fa-house"></i> Address</label>
                                    <input placeholder="Town/City" id="address_city" name="address_city" type="text" value="{{ customer.address_city }}" class="validate center-align" required>
                                    <label for="address_city"></label>
                                    <input placeholder="County" id="address_county" name="address_county" type="text" value="{{ customer.address_county }}" class="validate center-align" required>
                                    <label for="address_county"></label>
                                    <input placeholder="Postcode" id="postcode" name="postcode" type="text" value="{{ customer.postcode }}" class="validate center-align" required>
                                    <label for="postcode"></label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <select id="tenure" name="tenure" class="validate" required>
                                        {% if customer.tenure == 'Owner Occupied'%}
                                            <option value="Owner Occupied" selected>Owner Occupied</option>
                                            <option value="Private Rent/Housing Association">Private Rent/Housing Association</option>
                                            <option value="Council">Council</option>
                                        {% elif customer.tenure == 'Private Rent/Housing Association' %}
                                            <option value="Owner Occupied">Owner Occupied</option>
                                            <option value="Private Rent/Housing Association" selected>Private Rent/Housing Association</option>
                                            <option value="Council">Council</option>
                                        {% elif customer.tenure == 'Council' %}
                                            <option value="Owner Occupied">Owner Occupied</option>
                                            <option value="Private Rent/Housing Association">Private Rent/Housing Association</option>
                                            <option value="Council" selected>Council</option>
                                        {% endif %}
                                    </select>
                                    <label for="tenure"><i class="fa-solid fa-house"></i> Property Tenure</label>
                                </div>
                                <!-- Phone -->
                                <div class="input-field col s12 l6">
                                    <input id="phone" name="phone" type="text" value="{{ customer.phone }}" class="validate center-align" required>
                                    <label for="phone"><i class="fa-solid fa-phone"></i> Phone</label>
                                </div>
                                <!-- Email -->
                                <div class="input-field col s12 l6">
                                    <input id="email" name="email" type="text" value="{{ customer.email }}" class="validate center-align" required>
                                    <label for="email"><i class="fa-solid fa-at"></i> Email</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Submit -->
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn center-align">Confirm Edit <i class="fa-solid fa-circle-check"></i></button>
                {% if session.user|lower == 'admin'|lower %}
                <a href="#delete-customer" class="btn modal-trigger">Delete Customer <i class="fa-solid fa-user-xmark"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('view_customer', customer_id=customer._id) }}" class="btn">Return <i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </div>
    </div>
</div>

<!--Delete User Modal-->
<div id="delete-customer" class="modal">
    <div class="modal-content center-align">
        <h4 class=""><i class="fa-solid fa-triangle-exclamation red-text"></i> <br>Delete Customer Record?</h4>
        <p>Warning: Deletion of Customer Record can not be reversed. <br> Are you sure you wish to continue?</p>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('delete_customer', customer_id=customer._id) }}" class="btn center-align">Delete <i class="fa-solid fa-circle-xmark"></i></a>
        </div>
        <div class="col s12 center-align">
            <br>
            <a href="#!" class="modal-close">Cancel</a>
        </div>
    </div>
</div>

{% endblock %}