{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <h3 class="center-align">Home Adaptations</h3>
        {% if session.user %}
          <p class="right-align">You are logged in as: {{session['user']}}</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <form method="POST" action="{{ url_for('edit_job', job_id=job._id) }}">
                    <ul class="collection with-header">
                    <li class="collection-header center-align"><h4>Edit Minor Works Order</h4></li>
                    <!-- Priority -->
                        <li class="collection-header"><h5>Priority</h5></li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12 center-align">
                                    <div class="switch">
                                        <p></p><i class="fas fa-exclamation-circle prefix teal-text text-darken-3"></i> Indicate if order is urgent:</p>
                                        <label for="is_urgent">
                                        <input type="checkbox" id="is_urgent" name="is_urgent" value="{{ job.is_urgent }}">
                                        <span class="lever"></span>
                                        URGENT
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12" method="POST" action="">
                                    <i class="fas fa-calendar-alt prefix teal-text text-darken-3"></i>
                                    <input id="due_date" name="due_date" type="text" class="datepicker validate" value="{{ job.due_date }}" required>
                                    <label for="due_date">Due Date</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Customer Details</h5></li>
                        <li class="collection-item">
                            <div class="row">
                                <!-- Name -->
                                <div class="input-field col s12 l6">
                                    <input id="first_name" name="first_name" type="text" value="{{ job.first_name }}" class="validate center-align" required>
                                    <label for="first_name"><i class="fa-solid fa-user"></i> First Name</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <input id="last_name" name="last_name" type="text" value="{{ job.last_name }}" class="validate center-align" required>
                                    <label for="last_name"><i class="fa-solid fa-user"></i> Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Address -->
                                <div class="input-field col s12 l6">
                                    <input placeholder="House no. and Street" id="address_street" name="address_street" type="text" value="{{ job.address_street }}" class="validate center-align" required>
                                    <label for="address_street"><i class="fa-solid fa-house"></i> Address</label>
                                    <input placeholder="Town/City" id="address_city" name="address_city" type="text" value="{{ job.address_city }}" class="validate center-align" required>
                                    <label for="address_city"></label>
                                    <input placeholder="County" id="address_county" name="address_county" type="text" value="{{ job.address_county }}" class="validate center-align" required>
                                    <label for="address_county"></label>
                                    <input placeholder="Postcode" id="postcode" name="postcode" type="text" value="{{ job.postcode }}" class="validate center-align" required>
                                    <label for="postcode"></label>
                                </div>
                                <!-- Tenure -->
                                <div class="input-field col s12 l6">
                                    <select id="tenure" name="tenure" class="validate" required>
                                    {% if job.tenure == 'Owner Occupied'%}
                                        <option value="Owner Occupied" selected>Owner Occupied</option>
                                        <option value="Private Rent/Housing Association">Private Rent/Housing Association</option>
                                        <option value="Council">Council</option>
                                    {% elif job.tenure == 'Private Rent/Housing Association' %}
                                        <option value="Owner Occupied">Owner Occupied</option>
                                        <option value="Private Rent/Housing Association" selected>Private Rent/Housing Association</option>
                                        <option value="Council">Council</option>
                                    {% elif job.tenure == 'Council' %}
                                        <option value="Owner Occupied">Owner Occupied</option>
                                        <option value="Private Rent/Housing Association">Private Rent/Housing Association</option>
                                        <option value="Council" selected>Council</option>
                                    {% endif %}
                                    </select>
                                    <label for="tenure"><i class="fa-solid fa-house"></i> Property Tenure</label>
                                </div>
                                <!-- Phone -->
                                <div class="input-field col s12 l6">
                                    <input id="phone" name="phone" type="text" value="{{ job.phone }}" class="validate center-align" required>
                                    <label for="phone"><i class="fa-solid fa-phone"></i> Phone</label>
                                </div>
                                <!-- Email -->
                                <div class="input-field col s12 l6">
                                    <input id="email" name="email" type="text" value="{{ job.email }}" class="validate center-align" required>
                                    <label for="email"><i class="fa-solid fa-at"></i> Email</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Adaptation -->
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Type of Adaptation</h5></li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Key safe</h6>
                                    <label for="keysafe">
                                    {% if job.keysafe == "on" %}
                                        <input type="checkbox" id="keysafe" name="keysafe" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="keysafe" name="keysafe" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Location:</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="keysafe_text" name="keysafe_text" class="validate" value="{{ job.keysafe_text }}"></input>
                                    <label for="keysafe_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Internal Grab Rail</h6>
                                    <label for="int_grab">
                                    {% if job.int_grab == "on" %}
                                        <input type="checkbox" id="int_grab" name="int_grab" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="int_grab" name="int_grab" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Size (12", 18", 24") | Quantity | Precise Location (inc. measurements) | 
                                            Direction (vertical, horizontal, diagonal):</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="int_grab_text" name="int_grab_text" class="validate" value="{{ job.int_grab_text }}"></input>
                                    <label for="int_grab_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>External Grab Rail</h6>
                                    <label for="ext_grab">
                                    {% if job.ext_grab == "on" %}
                                        <input type="checkbox" id="ext_grab" name="ext_grab" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="ext_grab" name="ext_grab" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Size (12", 18", 24") | Quantity | Precise Location (inc. measurements) |
                                             Direction (vertical, horizontal, diagonal):</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="ext_grab_text" name="ext_grab_text" class="validate" value="{{ job.ext_grab_text }}"></input>
                                    <label for="ext_grab_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Drop Arm Rail</h6>
                                    <label for="drop_rail">
                                    {% if job.drop_rail == "on" %}
                                        <input type="checkbox" id="drop_rail" name="drop_rail" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="drop_rail" name="drop_rail" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Style (with/without supporting leg) | Quantity | 
                                            Precise Location (inc. measurements) | Wall or floor mounted:</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="drop_rail_text" name="drop_rail_text" class="validate" value="{{ job.drop_rail_text }}"></input>
                                    <label for="drop_rail_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Newel Rail</h6>
                                    <label for="newel">
                                    {% if job.newel == "on" %}
                                        <input type="checkbox" id="newel" name="newel" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="newel" name="newel" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Location (bottom/middle/top of stairs) | 
                                            Direction (left side ascending/right side ascending):</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="newel_text" name="newel_text" class="validate" value="{{ job.newel_text }}"></input>
                                    <label for="newel_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Second Stair Rail</h6>
                                    <label for="stair_rail">
                                    {% if job.stair_rail == "on" %}
                                        <input type="checkbox" id="stair_rail" name="stair_rail" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="stair_rail" name="stair_rail" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Location (left side ascending/right side ascending) | 
                                            Description (straight, left/right turn, no. of sections):</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="stair_rail_text" name="stair_rail_text" class="validate" value="{{ job.stair_rail_text }}"></input>
                                    <label for="stair_rail_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>External Handrail</h6>
                                    <label for="handrail">
                                    {% if job.handrail == "on" %}
                                        <input type="checkbox" id="handrail" name="handrail" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="handrail" name="handrail" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Quantity | Precise Location (inc. measurements, length of handrail etc.):</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="handrail_text" name="handrail_text" class="validate" value="{{ job.handrail_text }}"></input>
                                    <label for="handrail_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Half Step</h6>
                                    <label for="step">
                                    {% if job.step == "on" %}
                                        <input type="checkbox" id="step" name="step" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="step" name="step" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Location (front/side/rear) | No. of platforms | 
                                            Height of step (3", 4", 5", 6") | Tread length (12", 18", 24") | Step width:</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="step_text" name="step_text" class="validate" value="{{ job.step_text }}"></input>
                                    <label for="step_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Access Ramp</h6>
                                    <label for="ramp">
                                    {% if job.step == "on" %}
                                        <input type="checkbox" id="ramp" name="ramp" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="ramp" name="ramp" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Location (front/side/rear) | Description of current access:</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="ramp_text" name="ramp_text" class="validate" value="{{ job.ramp_text }}"></input>
                                    <label for="ramp_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Over Bath Shower</h6>
                                    <label for="shower">
                                    {% if job.step == "on" %}
                                        <input type="checkbox" id="shower" name="shower" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="shower" name="shower" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Details of any specific requirements (e.g. tiling):</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="shower_text" name="shower_text" class="validate" value="{{ job.shower_text }}"></input>
                                    <label for="shower_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Other Adapatation (not listed above)</h6>
                                    <label for="other">
                                    {% if job.other == "on" %}
                                        <input type="checkbox" id="other" name="other" checked="checked" />
                                        <span>Select</span>
                                    {% else %}
                                        <input type="checkbox" id="other" name="other" />
                                        <span>Select</span>
                                    {% endif %}
                                    </label>
                                </div>
                                <br>
                                <p class="">Provide information of any other adaptations, not listed above, here:</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input type="text" id="other_text" name="other_text" class="validate" value="{{ job.other_text }}"></input>
                                    <label for="other_text">Enter information here</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Referrer -->
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Referrer Details</h5></li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="ref_name" name="ref_name" type="text" class="validate" value="{{ job.ref_name }}" required>
                                    <label for="ref_name"><i class="fa-solid fa-user"></i> Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="team" name="team" type="text" class="validate" value="{{ job.team }}" required>
                                    <label for="team"><i class="fa-solid fa-building"></i> Team/Job Title</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="ref_email" name="ref_email" type="email" class="validate" value="{{ job.ref_email }}" required>
                                    <label for="ref_email"><i class="fa-solid fa-at"></i> Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="ref_phone" name="ref_phone" type="tel" class="validate" value="{{ job.ref_phone }}" required>
                                    <label for="ref_phone"><i class="fa-solid fa-phone"></i> Phone number</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Notes -->
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Notes</h5></li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="input-field col s12 center-align">
                                    <p class="left-align"><i class="fa-solid fa-comments"></i> Enter notes here:</p>
                                    <input id="notes" name="notes" type="text" class="validate" value="{{ job.notes }}" >
                                    <label for="notes"></label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Complete -->
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Complete Order</h5></li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12 center-align">
                                    <div class="switch">
                                        <p><i class="fas fa-exclamation-circle prefix teal-text text-darken-3"></i> Order Complete</p>
                                        <label for="is_comp">
                                          <input type="checkbox" id="is_comp" name="is_comp">
                                          <span class="lever"></span>
                                          Complete
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12" method="POST" action="">
                                    <i class="fas fa-calendar-alt prefix teal-text text-darken-3"></i>
                                    <input id="comp_date" name="comp_date" type="text" class="datepicker validate" >
                                    <label for="comp_date">Completion Date</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Submit -->
                    <ul class="collection">
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s12 center-align">
                                    <button type="submit" data-rel="back" class="btn center-align">Confirm Edit <i class="fa-solid fa-circle-check"></i></button>
                                    <input type="text" name="query" id="query" value="{{ job.first_name }}" class="validate" hidden required>
                                    <input type="text" name="query" id="query" value="{{ job.last_name }}" class="validate" hidden required>
                                    <input type="text" name="query" id="query" value="{{ job.address_street }}" class="validate" hidden required>
                                    <input type="text" name="query" id="query" value="{{ job.postcode }}" class="validate" hidden required>
                                    <label for="query"></label>
                                </div>
                                <div class="col s12 center-align">
                                    <br>
                                    <a onclick="history.back()" class="btn">Return <i class="fa-solid fa-arrow-left"></i></a>
                                    <!-- <a href="#delete-job" class="btn modal-trigger">Delete Order <i class="fa-solid fa-trash-can"></i></a> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete User Modal-->
<!-- <div id="delete-job" class="modal">
    <div class="modal-content center-align">
        <h4 class=""><i class="fa-solid fa-triangle-exclamation red-text"></i><br>Delete Minor Works Order?</h4>
        <p>Warning: Deletion of orders can not be reversed.<br>Are you sure you wish to continue?</p>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="" class="btn center-align">Delete <i class="fa-solid fa-circle-xmark"></i></a>
        </div>
        <div class="col s12 center-align">
            <br>
            <a href="#!" class="modal-close">Cancel</a>
        </div>
    </div>
</div> -->

{% endblock %}