{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-content">
        <h3 class="center-align">Minor Works Order</h3>
        {% if session.user %}
          <p class="right-align">You are logged in as: {{session['user']}}</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <!-- Complete -->
                {% if job.is_comp == "on" %}
                    <ul class="collection with-header">
                        <li class="collection-item">
                            <div class="col s12 l6 left-align">
                                <h5>Order Complete</h5>
                            </div>
                            <div class="col s12 l6 right-align">
                                <br>
                                <p class="right-align">Completion Date: {{ job.comp_date }}</p>
                            </div>
                        </li>
                    </ul>
                {% endif %}
                <!-- Priority -->
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Priority</h5></li>
                    <li class="collection-item">
                        <div class="col s12 l6">
                            {% if job.is_urgent == "on" %}
                                <p><i class="fas fa-exclamation-circle red-text tooltipped"
                                data-position="right" data-tooltip="URGENT!"></i> Urgent</p>
                            {% else %}
                                <p>Non-urgent</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6 right-align">
                            <p>Due Date: {{ job.due_date }}</p>
                        </div>
                    </li>
                </ul>
                <!-- Customer Details -->
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Customer Details</h5></li>
                    <li class="collection-item">
                        <div class="col s12 l6 left-align">
                            <p>Name:   {{ job.first_name }} {{ job.last_name }}</p> <br>
                            <p>Address: {{ job.address }}, {{ job.address_street }}, {{ job.address_city }}, {{ job.address_county }}, 
                                    {{ job.postcode }} <br> Property Tenure: {{ job.tenure }}</p> <br>
                            <p>Phone: {{ job.phone }} <br> Email: {{ job.email }}</p> <br>
                        </div>
                    </li>
                </ul>
                <!-- Adaptation -->
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Type of Adaptation</h5></li>
                    <li class="collection-item">
                        <div class="col s12 l6">
                            {% if job.keysafe =="on" %}
                                Keysafe
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.keysafe_text %}
                                <p>Location: {{ job.keysafe_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.int_grab =="on" %}
                                Internal Grab Rail
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.int_grab_text %}
                                <p>Information: {{ job.int_grab_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.ext_grab =="on" %}
                                External Grab Rail
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.ext_grab_text %}
                                <p>Information: {{ job.ext_grab_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.drop_rail =="on" %}
                                Drop Arm Rail
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.drop_rail_text %}
                                <p>Information: {{ job.drop_rail_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.newel =="on" %}
                                Newel Rail
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.newel_text %}
                                <p>Information: {{ job.newel_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.stair_rail =="on" %}
                                Second Stair Rail
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.stair_rail_text %}
                                <p>Information: {{ job.stair_rail_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.handrail =="on" %}
                                External Handrail
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.handrail_text %}
                                <p>Information: {{ job.handrail_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.step =="on" %}
                                Half Step
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.step_text %}
                                <p>Information: {{ job.step_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.ramp =="on" %}
                                Access Ramp
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.ramp_text %}
                                <p>Information: {{ job.ramp_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.shower =="on" %}
                                Over Bath Shower
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.shower_text %}
                                <p>Information: {{ job.shower_text }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.other =="on" %}
                                Other Adaptation
                            {% endif %}
                        </div>
                        <div class="col s12 l6">
                            {% if job.other_text %}
                                <p>Information: {{ job.other_text }}</p>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <!-- Referrer -->
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Referrer Details</h5></li>
                    <li class="collection-item">
                        <div class="col s12 l6">
                            <p>Name: {{ job.ref_name }}</p> <br>
                            <p>Team/Job Title: {{ job.team }}</p> <br>
                        </div>
                        <div class="col s12 l6">
                            <p>Phone: {{ job.ref_phone }}</p> <br>
                            <p>Email: {{ job.ref_email }}</p> <br>
                        </div>
                    </li>
                </ul>
                <!-- Notes -->
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Notes</h5></li>
                    <li class="collection-item">
                        <div class="col s12 l6">
                            <p>{{ job.notes }}</p> <br>
                        </div>
                    </li>
                </ul>
                <!-- User info -->
                <ul class="collection">
                    <li class="collection-item right-align">
                        <div class="col s12">
                            <p>Record created by user: {{ job.created_by }} <br>
                               Record last amended by user: {{ job.amended_by }}
                            </p>
                        </div>
                    </li>
                </ul>
                <ul class="collection">
                    <li class="collection-item center-align">
                        <button onclick="history.back()" class="btn center-align">Return <i class="fa-solid fa-arrow-left"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}