{% extends 'base.html' %}

{% block content %}

{% if session.user %}
  <p class="right-align">You are logged in as: {{session['user']}}</p>
{% endif %}

<div class="card">
    <div class="card-content">
        <h3 class="center-align">Home Adaptations</h3>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Customer Details</h5></li>
                    <li class="collection-item">
                        <div class="col s12 l6 left-align">
                            Name:   {{ customer.first_name }} {{ customer.last_name }} <br>
                            DOB: {{ customer.dob }} <br>
                            Gender: {{ customer.gender }}<br>
                            Address: {{ customer.address_street }}, {{ customer.address_city }}, {{ customer.address_county }}, 
                                    {{ customer.postcode }} <br> Property Tenure: {{ customer.tenure }} <br>
                            Phone: {{ customer.phone }} <br> Email: {{ customer.email }} <br> 
                            <br>
                        </div>
                        <div class="col s12 l6 right-align">
                            Record created by user: {{ customer.created_by }} <br>
                            Record last amended by user: {{ customer.amended_by }}
                        </div>
                        <div class="col s12 l6 right-align">
                            <a href="{{ url_for('edit_customer', customer_id=customer._id) }}" 
                                    class="waves-effect waves-green">Edit Customer</a>
                        </div>
                    </li>
                </ul>
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Orders</h5></li>
                    <li class="collection-item">
                        <div class="col s12 l6 left-align">
                            <form action="{{ url_for('search_jobs') }}" method="POST" class="col s12">
                                <div class="row valign-wrapper center-align">
                                    <div class="col s12 m4">
                                      <!-- <a href="{{ url_for('account') }}" class="btn text-shadow">Reset</a> -->
                                      <button type="submit" class="">View Minor Works Orders for {{ customer.first_name }} 
                                                {{ customer.last_name }}</button>
                                  </div>
                                  <div class="input-field col s12 m8">
                                      <input type="text" name="query" id="query" value="{{ customer.first_name }} {{ customer.last_name }} {{ customer.address_street }}" class="validate" required>
                                      <label for="query"></label>
                                  </div>
                                </div>
                              </form>
                        </div>
                    </li>
                    <div class="collection-item">
                        {% if jobs|length >0 %}
                            <div class="collapsible-body">
                                {% for job in jobs %}
                                <ul class="collection">
                                    <li class="collection-item">
                                    <div class="col s12 left-align">
                                        Name:   {{ job.first_name }} {{ job.last_name }} <br>
                                        Address: {{ job.address_street }}, {{ job.address_city }}, {{ job.address_county }}, 
                                                {{ job.postcode }} <br> Property Tenure: {{ job.tenure }} <br>
                                        Phone: {{ job.phone }} <br> Email: {{ job.email }} <br>

                                        <br>
                                        Record created by user: {{ job.created_by }} <br>
                                        Record last amended by user: {{ job.amended_by }}
                                    </div>
                                    <div class="col s12 left-align">
                                        <a href="{{ url_for('view_jobs', job_id=job._id) }}" class="waves-effect waves-green btn green accent-4">View Order</a>
                                    </div>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </ul>


                <ul class="collection">
                    <li class="collection-item center-align">
                        <button onclick="history.back()" class="waves-effect waves-green btn red accent-4">Back</button>
                        <!-- <a href="{{ url_for('edit_customer', customer_id=customer._id) }}" 
                            class="waves-effect waves-green btn green accent-4">Edit Customer</a> -->
                        <a href="{{ url_for('add_job', customer_id=customer._id) }}" class="waves-effect waves-green btn green accent-4">
                            Minor Works Request</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}