{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-content">
        <h3 class="center-align">Home Adaptations</h3>
        {% if session.user %}
          <p class="right-align">You are logged in as: {{session['user']}}</p>
        {% endif %}
    </div>
</div>

<!-- Customer Details -->
<ul class="collapsible">
    <li class="active">
        <div class="collapsible-header"><h5>Customer Details</h5></div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <div class="col s12 l6 left-align">
                        Name:   {{ customer.first_name }} {{ customer.last_name }} <br>
                        DOB: {{ customer.dob }} <br>
                        Gender: {{ customer.gender }}<br>
                        Address: {{ customer.address_street }}, {{ customer.address_city }}, {{ customer.address_county }}, 
                                {{ customer.postcode }} <br> Property Tenure: {{ customer.tenure }} <br>
                        Phone: {{ customer.phone }} <br> Email: {{ customer.email }} <br> 
                        <br>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="col s12 l6 right-align">
                        Record created by user: {{ customer.created_by }} <br>
                        Record last amended by user: {{ customer.amended_by }}
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 center-align">
                <form action="{{ url_for('search_jobs', customer_id=customer._id) }}" method="POST" class="col s12">
                    <a href="{{ url_for('edit_customer', customer_id=customer._id) }}" class="btn">Edit Customer <i class="fa-solid fa-pen-to-square"></i></a>
                    <button type="submit" class="btn">View Orders <i class="fa-solid fa-list"></i></button>
                    <input type="text" name="query" id="query" value="{{ customer.first_name }}" class="validate" hidden required>
                    <input type="text" name="query" id="query" value="{{ customer.last_name }}" class="validate" hidden required>
                    <input type="text" name="query" id="query" value="{{ customer.address_street }}" class="validate" hidden required>
                    <input type="text" name="query" id="query" value="{{ customer.postcode }}" class="validate" hidden required>
                    <label for="query"></label>
                    <a href="{{ url_for('add_job', customer_id=customer._id) }}" class="btn">Create Order <i class="fa-solid fa-circle-plus"></i></a>
                </form>
            </div>
            <div class="col s12 center-align">
                <br>
                <a href="{{ url_for('account') }}" class="btn">Back to Search <i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
    </div>
</div>



{% endblock %}