{% extends 'base.html' %}

{% block content %}
<h2 class="light-green lighten-4 center-align">Register</h2>

<form method="POST" action="{{ url_for('register') }}">
    <div class="row">
        <!-- username -->
    <div class="input-field col s12 l6 offset-l3">
        <input id="username" name="username" type="text" minlength="5"
            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
        <label for="username">Username</label>
    </div>
    <!-- password -->
    <div class="input-field col s12 l6 offset-l3">
        <input id="password" name="password" type="password" minlength="5"
            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
        <label for="password">Password</label>
    </div>
    <button type="submit" class="waves-effect waves-green btn-flat col s12 l6 offset-l3 center-align">Create User</button>
    </div>
</form>


{% endblock %}